## インポート

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

np.random.seed(1234)

## データの読み込み

In [2]:
df = pd.read_csv('chap05/input/data-attendance-3.txt')
print(df.shape)
df.head()

(2396, 5)

   PersonID  A  Score Weather  Y
0         1  0     69       B  1
1         1  0     69       A  1
2         1  0     69       C  1
3         1  0     69       A  1
4         1  0     69       B  1

In [3]:
df.pivot_table(index = 'A', columns='Y', values='Score', aggfunc = 'count')

Y    0    1
A
0  288  994
1  386  728